@model string

@{
    ViewBag.Title = "Create";
}

<h2>Create Role</h2>


@using (Html.BeginForm("Create", "Role", FormMethod.Post))
{
    <div class="form-group">
        <label>Name: </label>
        <input name="name" value="@Model" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

    @Html.ActionLink("Cancel", "Index", "Role", new { @class = "btn btn-default" })
}
